body{
    background-image: radial-gradient(rgb(221, 240, 52),rgb(200, 236, 252));
    background-repeat: no-repeat;
    background-size: cover;
}
header, footer{
    background-image: linear-gradient(to bottom right, gray cadetblue);
}
#surprise{
    background-color: transparent;
    width:50%;
    height:400px;
    margin:50px auto;
}

#flip{
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
#surprise:hover #flip{
    transform: rotateY(180deg);
    
}
#visibleimg, #hiddendiv{
    border-radius: 50%;
    box-shadow:coral 10px 10px;
    position: absolute;
    width: 100%;
    height: 100%;
    /*-webkit-backface-visibility: hidden;*/ /* Safari */
    /*backface-visibility: hidden;*/
}
#visibleimg{
    background-color: rgb(196, 82, 82);
    
}
#hiddendiv{
    background-color: rgb(38, 157, 161) ;
    color: black;
    transform: rotateY(180deg);
    opacity:1;
    
}
#hiddendiv p{
    text-align: center;
    font-size:1.7vw;
    font-family: Bradley Hand ITC;
    font-weight: 900;
    
}

h1,h2{
    font-family: Bradley Hand ITC;
    color:rgb(38, 157, 161) ;
    font-weight: 900;
    font-size:4vw;
    text-align: center;
    margin:auto
}
h2{
    font-size: 2vw;
}
@media screen and (max-width:480px) {
    #surprise{
        height:100px;
    }
    
}
